/* Font imports */

@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'), url(../Assets/Fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: local('Montserrat-ExtraBold'), url(../Assets/Fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: local('Montserrat-Medium'), url(../Assets/Fonts/Montserrat-Medium.ttf);
}

hr { border: none; height: 2px; margin: 20px auto;}
ul { list-style: none;	margin-left: 0; padding-left: 0;}
a { transition: color 0.25s ease-in-out; text-decoration: none; color: inherit }

/* Font Weights */

.extraBold { font-family: monospace; font-weight: bold; } 
.medium { font-family: monospace; font-weight: normal; } 
.bold { font-family: monospace; font-weight: bolder; }

/* Text Colors */

.highlightText { color: var(--highlight-color) } 
.darkText { color: var(--dark-text) } 
.lightText { color: var(--light-color) }

.highlightText :hover { color: var(--dark-highlight) }

/* Background colors */

.backgroundColor{ background-color: white } 
.lightBackground { background-color: var(--light-color) }

/* Dynamic Font-size */

.exSmallSize { font-size: 16px} 
.smallSize { font-size: 20px } 
.mediumSize { font-size: 24px } 
.largeSize { font-size: 64px } 
.exLargeSize { font-size: 80px }

@media only screen and (max-width: 600px)
{
    .exSmallSize { font-size: 12px }
    .smallSize { font-size: 16px }
    .mediumSize { font-size: 16px } 
    .largeSize { font-size: 32px} 
    .exLargeSize { font-size: 40px }
}

.contentWrap{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
}