.heading { text-align: center; }

.subNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 60px auto;
    width: 50%;
}

@media only screen and (max-width: 600px)
{
    .subNav{ flex-direction: column }
    .subNav { margin: 30px auto } 
    .link{ padding-top: 20px }
    .divider{ display: none }
}
