.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 3;
}

.logo {
    padding: 0;
    margin-top: 20px;
    width: 50px;
    height: auto;
}